@model OBSEntityLayer.NewConcrete.Kimlik
@{
    ViewData["Title"] = "EditKimlik";
    Layout = "~/Areas/Admin/Views/AdminLayout.cshtml";
}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Kimlik Bilgileri</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Kimlik Bilgileri</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Kimlik Bilgileri Düzenle</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">


    <div class="card">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-12">
                    <h3 class="mb-0">Kimlik Bilgileri Güncelle </h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form method="post">
               
                <div class="form-group">

                    @Html.HiddenFor(x => x.KimlikID, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.HiddenFor(x => x.IletisimID, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>TC No</label>
                    @Html.TextBoxFor(x => x.Tc, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Ad</label>
                    @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Soyad</label>
                    @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Doğum Yeri</label>
                    @Html.TextBoxFor(x => x.DogumYeri, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Doğum Tarihi  </label>
                    @Html.TextBoxFor(x => x.DogumTarihi, new { @class = "form-control" })
                </div>

                <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                <a href="/Admin/Ogrenci/index" class="btn btn-dark">İptal</a>

                <!-- Address -->

            </form>

        </div>
    </div>
</div>


